// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2F3E46;
$light-blue: #354F52;
$green: #52796F;
$gray: #363D3C;
$light-gray: #dfdfdf;
$light-green: #84A98C;
$yellow: #FFD82C;
$orange: #FFAB2C;

// Baris' colors

$aqua: $light-green;
$dark-aqua: $blue;
$cream:  none;
$b-gray: $light-gray;
