// Specific CSS for your home-page
.card-container {
  width: -webkit-fill-available;
  margin: 0 auto;
  position: absolute;
  top: 240px;
  h1 {
    color: $white;
  }
}

body {
  background-color: $light-gray;
}
