// Specific CSS for your home-page
.card-container {
  width: -webkit-fill-available;
  margin: 0 auto;
  position: absolute;
  top: 240px;
  h1 {
    color: $white;
  }
}

.search-font {
  h1{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 0.8;
}
}
