.members-bar {
  background-color: $b-gray;
}

.project-info {
  background-color: $cream;

  // row has 15px left-right margin by default
  // if we make it 0px, borders look better
  margin-left: 0px;
  margin-right: 0px;
}

.img-div {
  background-image: url("https://cdn.gamer-network.net/2017/usgamer/kirby-amazing-mirror.png/EG11/thumbnail/600x400/format/jpg/quality/75");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid black;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, .1);
  margin: 15px 15px;
  height: 400px;
  width: 600px;
}

.description p {
  font-size: 18px;
}

