.user-info {
 padding: 60px;
 widows: 100%;
}

.edit-form {
  display: none;
}

.active {
  display: inline-block;
}

.project {
 background-color: $white;
 margin: 30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px;
 box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
 border: 1px solid $light-gray;
 border-radius: 8px;
 .project-detail {
  text-align: start;
  flex-grow: 1;
  width: 300px;
 }
}

.project-status a {
  text-decoration: none !important;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  &:hover {
    color: $light-green;
  }
}

.requested-project {
  text-align: center;
}

.status {
  display: flex;
  justify-content: space-even;
  margin: 0;
}

.requested-user p {
  margin: 0;
}
