.user-info {
  color: white;
  h1 {
    font-weight: bold;
    padding: 60px 0px;
  }
}

.user-profile-card {
  text-align: center;
  font-weight: lighter;
}

.bio {
  text-align: center;
  }

.edit-form {
  display: none;
}

.active {
    z-index: 99999;
    position: absolute;
    background-color: white;
    right: 180px;
    top: 0px;
    opacity: 0.9;
    border-radius: 8px;

}

.project {
 background-color: $white;
 margin: 30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px;
 box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
 border: 1px solid $light-gray;
 border-radius: 8px;
 position: relative;
 .project-detail {
  text-align: start;
  flex-grow: 1;
  width: 300px;
 }
}

.project-status a {
  text-decoration: none !important;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  &:hover {
    color: $light-green;
  }
}

.requested-project {
  text-align: center;
}

.status {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.requested-user p {
  margin: 0;
}
