<% require 'open-uri' %>

<%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", class: "card-img" %>

<%= image_tag open('http://le-wagon-tokyo.herokuapp.com/batches/394/student').read, class: "card-avatar" %>
<h2><%= user.username %></h2>
<object class='tag'>
</object>
