<div class="container">
  <div class="cards">
    <% @projects.each do |project| %>
    <div class="card">
      <h2><%= project.name %></h2>
      <% project.tag_list.each do |tag| %>
        <%= link_to tag, tagged_path(tag: tag) %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<%# if policy(Project).create? %>
  <%#= link_to "New project", new_project_path %>
<%# end %>

