<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<ul>
  <% @projects.each do |project| %>
    <li><%= project.name %>--<%= project.description %></li>
  <% end %>
</ul>

<%# if policy(Project).create? %>
  <%#= link_to "New project", new_project_path %>
<%# end %>
