<div class="top-banner">
</div>
<div class="card-container">
  <div class="container">
    <div class="cards">
      <% @projects.each do |project| %>
      <div class="card-background">
        <a href="<%= project_path(project) %>" class="card">
          <%= render 'projects/card', project: project %>
        </a>
      </div>
    <% end %>
    </div>
  </div>
</div>
