<% project = Project.find(params[:id]) %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.8)), url(https://offerzen.ghost.io/content/images/2018/08/justin_worthe_game_image1@2x.png);">
  <div class="container">
    <h1><%= project.name %></h1>
  </div>
</div>
