
<div class="container">
  <div class="cards">
    <% @projects.each do |project| %>
    <div class="card-background">
      <%#= link_to project_path(project), class: "card" do  %>
      <a href="<%= project_path(project) %>" class="card">
        <%= render 'projects/card', project: project %>
      </a>
    </div>
  <% end %>
  </div>
</div>
