.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  justify-content: center;
}

@media (max-width: 1024px) {
  /* For a screen < 960px, this CSS will be read */
  .cards {
    grid-template-columns: repeat(2, 350px);
  }
  .card-avatar {
    top: 40%;
    left: 70%;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .cards {
    grid-template-columns: repeat(2, 350px);
  }
  .card-avatar {
    top: 40%;
    left: 70%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .cards {
    grid-template-columns: 350px;
  }
  .card-avatar {
    top: 40%;
    left: 70%;
  }
}

@media (max-width: 375px) {
  /* For a screen < 540px, this CSS will be read */
  .cards {
    grid-template-columns: 300px;
  }
  .card-avatar {
    top: 40%;
    left: 80%;
  }
}

.card-background {
  height: 430px;
  position: relative;
  .card {
    height: 430px;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    border: 1px solid $light-gray;
    border-radius: 8px;
    text-decoration: none !important;
  }
}

.card:hover {
  box-shadow: 0px 8px 16px rgba(255,255,255,0.4);
}

.card-img {
  margin: 0;
  border-radius: 8px 8px 0 0 / 8px 8px 0 0;
}

.tag {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 18px;
}

#tag-icon {
  color: $blue;
  transition-delay: 0.2s;
  &:hover {
    color: $blue;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  }
}

.card-title {

  h2 {
    margin: 12px;
    font-size: 24px;
  }

  h6 {
     margin: 12px;
  }
}
