.container-user-title {
  margin: 30px auto;
}

.project-container {
  margin: 48px auto;
  background-color: white;
  margin-top: 0;
}

.user-project-container {
  margin: 48px auto;
  margin-top: 30px;
}
